<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="1.2.0.0" targetFramework="net451" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net451" />
  <package id="MaterialDesignThemes" version="1.2.0.339" targetFramework="net451" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.4" targetFramework="net451" />
</packages>